<% if(title !=='Codeial | Comments') { %> 
    <form action="/showComments" method="POST">
        <input type="hidden" name="post" value="<%= post._id %>">
        <input  type="submit" value="Show Comments" id="showComments">
    </form>      
<% } %>
<form action="/posts/create-comment" method="POST">
    <div class="input-group input-group-sm mb-3">
        <input type="text" class="form-control" placeholder="Type the Comment.." name="content">
        <input type="hidden" class="form-control"  name="post" value="<%= post._id %>">
        <div class="input-group-append">
        <button class="btn btn-success" type="submit">Comment</button>
        </div>
      </div>
</form>
